<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me-Khanh</title>
</head>
''
<body>

    <h1>About Me: Khanh</h1>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith School Logo">

    <h2>Academic Interests</h2>

    <p>
        I am a student at the University of Maryland with a strong majoring on <em>Information Systems</em> and <em>Finance</em>.
        Currently, I am working on this Capstone Project and our client is Class520 ice cream with 2 locations in College Park and Rockville.
    </p>

    <p>
        My goal is to combine my knowledge of business strategy with technical skills. I am actively learning <strong>Python</strong>
        coding and exploring <strong>financial markets</strong> topics related to finance.
    </p>
''
    <h2>Skills & Hobbies</h2>
    <h3>Top Technical Skills</h3>
    <ol>
        <li>Financial Analysis</li>
        <li>Business Strategy</li>
        <li>Data visualization</li>
    </ol>
''
    <h3>Hobbies</h3>
    <ul>
        <li>Piano</li>
        <li>Travel</li>
        <li>Hike</li>
    </ul>

    <h2>Course History</h2>
    <table border="1">
        <tr>
            <th>Course Name</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT407: Info Systems Projects</td>
            <td>Spring 2026</td>
            </tr>
        <tr>
            <td>BMGT306: Intermediate Microeconomics</td>
            <td>Fall 2025</td>
            </tr>
        <tr>
            <td>BMGT444: Futures and Options</td>
            <td>Spring 2026</td>
        </tr>
    </table>

    <h2>Connect</h2>
    <p>
        Return to <a href="/hello">Hello</a>.
    </p>
    <p>
        Check out the <a href="https://www.rhsmith.umd.edu" target="_blank">Smith School</a>.
    </p>
    <p>
        Connect with me on <a href="https://www.linkedin.com/in/khanh-nguyen-5b030b26a/" target="_blank">LinkedIn</a>.
    </p>
</body>
</html>